*{
    font-family: 'Roboto Condensed', sans-serif;
}



/*-------Header Code--------*/


.header-logo {
    margin: auto;
    width: 25%;
}

.header-brand {
    width: 100%;
}

.slogan {
    font-size: 18px;

}

.main-nav {
    display: block;
    text-align: center;
    word-spacing: 50px;
    padding-bottom: 20px;
}

.main-nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
/*---------Body Code----------*/

h1 {
    text-align: center;
    color: #111;
}

.headerslogan {
    text-align: center;
    color: #111;
}

a {
    text-decoration: none;
}

.burgerhero {
    width: 65%;
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

/*-------------menu body----------*/
.menubar {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #F05054;
    margin: 5px auto;
}
.menubar p {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menubox {
    display: flex;
    justify-content: center;
}

.menuitems {
    border: 5px solid #F05054;
    padding-right: 20px;
    margin-right: 10px;
}

/*------------Contact Code------*/
.maps {
    width: 100%;
}

.mapcontainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

/*---------about page----------*/
.about {
    width: 70%;
    margin: 0 auto;
}

.aboutslogan {
    text-align: center;
}

.about .abouttext .middleman {
    text-align: center;
    font-size: 30px;
    color: #F05054;
}
.about .abouttext p {
    font-size: 20px;
}

.hiddenbtn {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: none;
    font-size: 28px;
}

#hidden {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#bidden {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.hiddentext {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

/*--------jobs code-------*/
.jobsforms {
    display: flex;
    width: 70%;
    align-content: center;
    margin: 0 auto;
}

.jobsforms div {
    margin: 0 auto;
}

.inputbox {
    width: 250px;
}

.states {
    width: 254px;
    margin-top: 5px;
}

.jobxp {
    text-align: center;
    width: 70%;
    margin: 0 auto;
 }
.jobbtn{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
.jobsub {
    width: 20%;
    height: 30px;
    border: none;
}

.jobsub:hover {
    background-color: #F05054;
    color: white;
}


/*---------Footer Code-------*/

footer {
    width: 65%;
    padding: 30px 30px;
    margin-top: 20px;
    background-color: #f2f2f2;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footermenu li {
    list-style-type: none;
    line-height: 30px;
}

.footermenu li a {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.subform {
    line-height: 20px;
    margin-top: 25px;
    width: 100%;
}

.subsubmit {
    margin-top: 10px;
}

.socialmediabtns {
    line-height: 30px;
    margin-right: 20px;
}

.socialmediabtns a {
    color: black;
}

.flex3 {
    margin-top: 10px;
}

.fa-facebook-f {
    margin-top: 30px;
}

.socialmediabtns a:hover {
    color: #1DA1F2;
}

